Django==2.1.7
django-bootstrap4==0.0.6
django-crispy-forms==1.7.2
django-icons==0.2.1
django-markdownx==2.0.28
django-model-utils==3.1.2
Markdown==3.0.1
Pillow==5.4.1
python-json-logger==0.1.9
pytz==2018.9
dj-database-url==0.5.0
psycopg2-binary==2.7.7
django-user-accounts==2.1.0
whitenoise==4.1.2
gunicorn==19.9.0
django-heroku==0.3.1

-e git://github.com/hbuyse/dj-newsletter.git@94fa873ce2d54496e1af41bb182da21c5a00c586#egg=dj_newsletter
-e git://github.com/hbuyse/dj-sponsoring.git@dc1652ab7dbaa25199505dd680e28289a86c7d77#egg=dj_sponsoring
-e git://github.com/hbuyse/dj-sports-manager.git@7e32cc41347b968b4ede9ea6846de14d9504c3f9#egg=dj_sports_manager