{% extends "base.html" %}

{% load i18n %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'sports-manager:gymnasium-list' %}">{% trans "Gymnasiums" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page"> {{ gymnasium }}</a></li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {{ gymnasium }}
{% endblock %}


{% block content %}
  <div class="card-columns">
    {% if gymnasium.address %}
      <div class="card">
        <div class="card-header">Address</div>
        <div class="card-body">
          <p class="card-text">{{ gymnasium.address }}<br/>{{ gymnasium.zip_code }} {{ gymnasium.city }}</p>
        </div>
      </div>
    {% endif %}

    {% if gymnasium.phone %}
      <div class="card">
        <div class="card-header">Phone number</div>
        <div class="card-body">
          <p class="card-text">{{ gymnasium.phone }}</p>
          </div>
        </div>
    {% endif %}

    {% if gymnasium.surface %}
      <div class="card">
        <div class="card-header">Area</div>
        <div class="card-body">
          <p class="card-text">{{ gymnasium.area }} m<sup>2</sup></p>
          </div>
        </div>
    {% endif %}

    {% if gymnasium.capacity %}
      <div class="card">
        <div class="card-header">Capacité</div>
        <div class="card-body">
          <p class="card-text">{{ gymnasium.capacity }} personnes</p>
          </div>
        </div>
    {% endif %}
  </div>

  <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q={{ gymnasium.address }}, {{ gymnasium.zip_code }} {{ gymnasium.city }}" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
{% endblock %}
