{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "My licenses" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% trans "My licenses" %}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_authenticated %} 
    <div class="btn-group float-right" role="group">
      <a class="btn btn-primary" href="{% url 'sports-manager:license-create' user.get_username %}">{% trans "New license" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% for license in license_list %}
    {% ifchanged license.get_season %}
      {% if not forloop.first %}
        </div>
      {% endif %}
      <h2>{{ license.get_season }}</h2>
      <div class="card-columns">
    {% endifchanged %}

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ license.player }}</h5>
          {% for team in  license.teams.all %}
            <p class="card-text">{{ team }}</p>
          {% endfor %}
          <a href="{{ license.get_absolute_url }}" class="card-link">{% trans "Details" %}</a>
        </div>
      </div>

    {% if forloop.last %}
      </div>
    {% endif %}
  {% empty %}
    <p>{% trans "No category listed yet" %}...</p>
  {% endfor %}
{% endblock %}