{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block path %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sports-manager:player-list' user.get_username %}">My players</a></li>
    <li class="breadcrumb-item active" aria-current="page">Creation</li>
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  Creation of a new player
{% endblock %}

{% block content %}
  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5>Player informations</h5>
    {% for field in player_form %}
      {% if forloop.first %}
        <div class="form-row">
      {% endif %}

        <div class="col-6">
          {% if field.errors %}
            <ol>
            {% for error in field.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}
        {{ field|as_crispy_field }}
        </div>

      {% if forloop.last %}
        </div>
      {% elif forloop.counter|divisibleby:2 %}
        </div><div class="form-row">
      {% endif %}
    {% endfor %}

    <h5>Medical certificate</h5>
    {{ certificate_form|as_crispy_errors }}
    {% for field in certificate_form %}
      {% if forloop.first %}
        <div class="form-row">
      {% endif %}

      <div class="col-6">
        {% if field.errors %}
          <ol>
          {% for error in field.errors %}
              <li><strong>{{ error|escape }}</strong></li>
          {% endfor %}
          </ol>
        {% endif %}
        {{ field|as_crispy_field }}
      </div>

      {% if forloop.last %}
        </div>
      {% elif forloop.counter|divisibleby:2 %}
        </div><div class="form-row">
      {% endif %}
    {% endfor %}
  
    <h5>Emergency contact</h5>
    {% for field in emergency_form %}
      {% if forloop.first %}
        <div class="form-row">
      {% endif %}

        <div class="col-6">{{ field|as_crispy_field }}</div>

      {% if forloop.last %}
        </div>
      {% elif forloop.counter|divisibleby:2 %}
        </div><div class="form-row">
      {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-warning">Reset</button>
  </form>
{% endblock %}