{% extends "base.html" %}

{% load i18n %}

{% block path %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sports-manager:category-list' %}">{% trans "Categories" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ category }}</li>
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  {{ category }} {% if category.summary %}<small class="text-muted">{{ category.summary }}</small>{% endif %}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_staff or user.is_superuser %}
    <a href="{% url 'sports-manager:category-update' category.slug %}" class="btn btn-primary btn-sm">{% trans "Update" %}</button>
    <a href="{% url 'sports-manager:category-delete' category.slug %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
  {% endif %}
{% endblock %}

{% block content %}

  {% if category.img %}
    <img src="{{ category.img.url }}" alt="{{ category.name }} image">
  {% endif %}

  {% if category.description %}
    <h2 class="mt-4">Description</h2>
    <div class="text-justify mb-4">
      {{ category.description_md|safe }}
    </div>
  {% endif %}

  <h2 class="mt-4">{% trans "Constraints" %}</h3>
  <dl class="row">
    <dt class="col-sm-2">{% trans "Minimum age" %}</dt>
    <dd class="col-sm-4">{{ category.min_age }}</dd>

    {% if category.max_age %}
    <dt class="col-sm-2">{% trans "Maximum age" %}</dt>
    <dd class="col-sm-4">{{ category.max_age }}</dd>
    {% endif %}
  </dl>

  {% for team in category.team_set.all %}
    {% if forloop.first %}
      <h2 class="mt-4">{% trans "Teams" %}</h3>

      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">{% trans "Team" %}</th>
            <th scope="col">{% trans "Sex" %}</th>
            <th scope="col">{% trans "Level" %}</th>
            <th scope="col">{% trans "Details" %}</th>
          </tr>
        </thead>
        <tbody>
    {% endif %}

    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.get_sex_display|title }}</td>
      <td>{{ team.get_level_display|title }}</td>
      <td>
        <a class="btn btn-outline-secondary btn-sm" href="{% url 'sports-manager:team-detail' team.slug %}">{% trans "Link" %}</a>
      </td>
    </tr>

    {% if forloop.last %}
        </tbody>
      </table>
    {% endif %}
  {% empty %}
    <p>{% trans "No team related to this category" %}</p>
  {% endfor %}
{% endblock %}
