{% extends "base.html" %}

{% load i18n %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Categories" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {% trans "Categories" %}
{% endblock %}

{% block page_title_buttons %}
  {% if user.is_staff %}
    <div class="btn-group float-right" role="group">
      <a class="btn btn-primary" href="{% url 'sports-manager:category-create' %}">{% trans "New category" %}</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="list-group">
  {% for category in category_list %}
    {% if forloop.first %}
      <div class="card-columns">
    {% endif %}
      <div class="card">
        {% if category.img %}
          <img class="card-img-top" src="{{ category.img.url }}" alt="{{ category.name }}'s logo">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ category }}</h5>
          <p class="card-text">{{ category.summary }}</p>
          <a href="{{ category.get_absolute_url }}" class="card-link">{% trans "Details" %}</a>
        </div>
      </div>
    {% if forloop.last %}
      </div>
    {% endif %}
  {% empty %}
    <p>{% trans "No category listed yet" %}...</p>
  {% endfor %}
  </div>
{% endblock %}