{% extends "base.html" %}

{% load i18n %}

{% block path %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Page not found" %}</li>
  </ol>
</nav>
{% endblock %}

{% block page_title %}
  {% trans "Page not found" %}
{% endblock %}

{% block content %}
  {% blocktrans %}The page does not seem to exist...{% endblocktrans %}

  <form>
    <button type="button" class="btn btn-primary" onclick="history.back()">{% trans "Go back" %}</button>
    <a href="{% url 'home' %}" class="btn btn-primary" role="button">{% trans "Go to homepage" %}</a>
  </form>
{% endblock %}
