{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'sports-manager:license-list' license.player.owner.get_username %}">Licenses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ license }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_title_buttons %}
  {% if user.get_username == license.owner.get_username or user.is_staff %}
    <button type="button" class="btn btn-primary btn-sm" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="If you really want to update that license, click on that <a href='mailto:{{ sports_manager.webmaster }}?Subject=[MODIFICATION] {{ license }}'>link</a>">
      Update
    </button>
    <button type="button" class="btn btn-danger btn-sm" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="If you really want to delete that license, click on that <a href='mailto:{{ sports_manager.webmaster }}?Subject=[DELETION] {{ license }}'>link</a>">
      Delete
    </button>
  {% endif %}
{% endblock %}

{% block page_title %}
  {{ license.player }} - {{ license.get_season }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-2">Season:</div><div class="col-10">{{ license.get_season }}</div>
  </div>
  <div class="row">
    <div class="col-2">Team:</div><div class="col-10">{% for team in license.teams.all %}{{ team.name }}<br/>{% endfor %}</div>
  </div>
  <div class="row">
    <div class="col-2">Owner:</div><div class="col-10">{{ license.player.owner }}</div>
  </div>
  <div class="row">
    <div class="col-2">Sex:</div><div class="col-10">{{ license.player.get_sex_display }}</div>
  </div>
  <div class="row">
    <div class="col-2">Birthday:</div><div class="col-10">{{ license.player.birthday }}</div>
  </div>
  {% if license.license_number %}
    <div class="row">
      <div class="col-2">License number:</div><div class="col-10">{{ license.license_number }}</div>
    </div>
  {% endif %}
{% endblock %}

{% block javascript %}
   <!--modal-->
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({
        html: true,
        trigger: 'focus'
      });
    });
  </script>
 {% endblock %}
